@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../fonts/Spoqa-Regular.woff2') format('woff2'),;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    src: url('../fonts/Spoqa-Bold.woff2') format('woff2'),;
    font-style: normal;
    font-weight: bold;
}